.pb2 {
    padding-bottom: 2%;
}
.p5 {
    padding: 4%;
}
.mt2 {
    margin-top: 2rem;
}
/* hide scrollbar but keep it's functionality */
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
/* footer */
.foot {
    position: absolute;
    width: 100%;
    background: #ece8d9;
}
.foot p {
    margin: 0;
    font-size: 16px;
    padding: 5px;
}
.newP i:hover {
    cursor: pointer !important;
}